<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisign.code.persist.mapper.business.ApplicationMapper" >
  <resultMap id="BaseResultMap" type="com.hisign.code.model.business.TranslationDict" >
    <id column="ORIGINAL_TEXT" property="originalText" jdbcType="VARCHAR" />
    <result column="TRANSLATION" property="translation" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="CREATE_PID" property="createPid" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MODIFY_PID" property="modifyPid" jdbcType="VARCHAR" />
    <result column="MODIFY_DATE" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>


  <sql id="Base_Column_List" >
    ORIGINAL_TEXT, TRANSLATION, DESCRIPTION,
    from_username_to_truename(CREATE_PID, '1') as createPidName,CREATE_DATE
  </sql>

  <sql id="select_By_Filter_For_Where">
    <where>
      AND 1 = 1
      <if test="originalText != null and originalText !=''">
        AND ORIGINAL_TEXT like '%' || #{originalText,jdbcType=VARCHAR} || '%'
      </if>
      <if test="translation != null and translation !=''">
        AND TRANSLATION like '%' || #{translation,jdbcType=VARCHAR} || '%'
      </if>
      <if test="createPid != null and createPid != ''">
        AND CREATE_PID = #{createPid,jdbcType=VARCHAR}
      </if>
      <if test="createDateBegin !=null and createDateBegin != ''">
        and CREATE_DATE >= to_date(#{createDateBegin},'yyyy-mm-dd')
      </if>
      <if test="createDateEnd != null and createDateEnd != ''">
        and CREATE_DATE <![CDATA[<]]> to_date(#{createDateEnd},'yyyy-mm-dd')+1
      </if>
    </where>
  </sql>

  <sql id="select_By_Filter_For_Where2">
    <where>
      <choose>
        <when test="originalText != null and originalText != ''">
          and ORIGINAL_TEXT = #{originalText,jdbcType=VARCHAR}
        </when>
        <otherwise>
          and 1 = 2
        </otherwise>
      </choose>
      and rownum = 1
    </where>
  </sql>

  <select id="findApplicationInfo" resultType="com.hisign.code.model.business.ApplicationInfo" parameterType="com.hisign.code.model.business.ApplicationInfo">
    SELECT t.*,@rownum := @rownum + 1 AS rownum FROM (
      SELECT
        @rownum := 0,
        t1.ID                                                AS id,
        t1.COMPANY_NAME                                      AS companyName,
        t1.COMPANY_CODE                                      AS companyCode,
        t1.CONTACT                                           AS telphone,
        t1.E_MAIL                                            AS email,
        t1.INVOICE_ADRESS                                    AS invoiceAdress,
        t1.REPORT_ADRESS                                     AS reportAdress,
        t1.CREATE_PID                                        AS createPid,
        t2.USER_NAME                                         AS userName,
        t1.STATUS                                            AS status,
        t1.REMARKS                                           AS remarks,
        DATE_FORMAT(t1.CREATE_DATE,'%Y-%m-%d %T ')           AS createDateStr
      FROM BUS_APPLICATION t1 LEFT JOIN BUS_USER t2
      ON (t1.CREATE_PID=t2.ID)
      WHERE 1 = 1
      <if test="companyName != '' and companyName != null">
        AND t1.COMPANY_NAME LIKE concat('%',#{companyName},'%')
      </if>
      <if test="companyCode != '' and companyCode != null">
        AND t1.COMPANY_CODE LIKE concat('%',#{companyCode},'%')
      </if>
      <if test="reportAdress != '' and reportAdress != null">
        AND t1.REPORT_ADRESS LIKE concat('%',#{reportAdress},'%')
      </if>
      <if test="createDateBegin != '' and createDateBegin != null">
        AND DATE_FORMAT(#{createDateBegin}, '%Y-%m-%d')  <![CDATA[<=]]> t1.CREATE_DATE
      </if>
      <if test="createDateEnd != '' and createDateEnd != null">
        AND DATE_FORMAT(#{createDateEnd}, '%Y-%m-%d')  >= t1.CREATE_DATE
      </if>
      ORDER BY t1.CREATE_DATE DESC
    ) t
    <if test=" begin !=null and end != 0 and end !=null">
      LIMIT #{begin},#{end}
    </if>
  </select>

  <select id="findApplicationInfoForCount" resultType="java.lang.Integer" parameterType="com.hisign.code.model.business.ApplicationInfo">
    SELECT COUNT(1) FROM BUS_APPLICATION t1
    WHERE 1 = 1
    <if test="companyName != '' and companyName != null">
      AND t1.COMPANY_NAME LIKE concat('%',#{companyName},'%')
    </if>
    <if test="companyCode != '' and companyCode != null">
      AND t1.COMPANY_CODE LIKE concat('%',#{companyCode},'%')
    </if>
    <if test="reportAdress != '' and reportAdress != null">
      AND t1.REPORT_ADRESS LIKE concat('%',#{reportAdress},'%')
    </if>
    <if test="createDateBegin != '' and createDateBegin != null">
      AND DATE_FORMAT(#{createDateBegin}, '%Y-%m-%d')  <![CDATA[<=]]> t1.CREATE_DATE
    </if>
    <if test="createDateEnd != '' and createDateEnd != null">
      AND DATE_FORMAT(#{createDateEnd}, '%Y-%m-%d')  >= t1.CREATE_DATE
    </if>
  </select>

  <update id="updateApplicationInfo" parameterType="com.hisign.code.model.business.ApplicationInfo">
    UPDATE BUS_APPLICATION SET STATUS = #{status} WHERE ID = #{id}
  </update>

  <select id="findApplicationInfoInfo" resultMap="BaseResultMap" parameterType="com.hisign.code.model.business.TranslationDict">
    select
    <include refid="Base_Column_List" />
    from DB_TRANSLATION_DICT
    <include refid="select_By_Filter_For_Where2" />
  </select>

  <insert id="insertTranslationDict" parameterType="com.hisign.code.model.business.TranslationDict">
  insert into db_translation_dict
  (original_text,
  translation,
  description,
  create_pid,
  create_date
  ) values
  (#{originalText,jdbcType=VARCHAR},
  #{translation,jdbcType=VARCHAR},
  #{description,jdbcType=VARCHAR},
  #{user.userName,jdbcType=VARCHAR},
  sysdate
  )
  </insert>

  <delete id="deleteTranslationDict" parameterType="com.hisign.code.model.business.TranslationDict">
    DELETE FROM db_translation_dict
    <include refid="select_By_Filter_For_Where2"/>
  </delete>

  <update id="updateTranslationDict" parameterType="com.hisign.code.model.business.TranslationDict">
    UPDATE db_translation_dict SET
    TRANSLATION = #{translation,jdbcType=VARCHAR},
    DESCRIPTION = #{description,jdbcType=VARCHAR}
    <include refid="select_By_Filter_For_Where2" />
  </update>
</mapper>