<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisign.code.persist.mapper.business.ReportManageMapper" >
    <resultMap id="BaseResultMap" type="com.hisign.code.model.business.TableConnection" >
        <id column="ID" property="id" jdbcType="VARCHAR" />
        <result column="CONNECTION_NAME" property="connectionName" jdbcType="VARCHAR" />
        <result column="TABLE_NAME1" property="tableName1" jdbcType="VARCHAR" />
        <result column="COLUMN1" property="column1" jdbcType="VARCHAR" />
        <result column="TABLE_NAME2" property="tableName2" jdbcType="VARCHAR" />
        <result column="COLUMN2" property="column2" jdbcType="VARCHAR" />
        <result column="CONNECTION_TYPE" property="connectionType" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
            ID, CONNECTION_NAME, TABLE_NAME1, COLUMN1, TABLE_NAME2, COLUMN2, CONNECTION_TYPE,
            get_dictValue_by_dictKey('LJLBDM', CONNECTION_TYPE)  AS connectionTypeZw
    </sql>

    <sql id="select_By_Filter_For_Where" >
        <where>
            <if test="connectionName != null and connectionName != ''">
                and CONNECTION_NAME = #{user.connectionName,jdbcType=VARCHAR}
            </if>
            <if test="tableName != null and tableName != ''">
                and TABLE_NAME1 in
                <foreach collection="tableName" item="item" index="index" separator="," open="(" close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
                and TABLE_NAME2 in
                <foreach collection="tableName" item="item" index="index" separator="," open="(" close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
            <if test="column1 != null and column1 != ''">
                AND ( T.COLUMN1 LIKE '%' || #{column1,jdbcType=VARCHAR} || '%'
                OR T.COLUMN2 LIKE '%' || #{column1,jdbcType=VARCHAR} || '%' )
            </if>
            <if test="tableName1 != null and tableName1 != ''">
                AND ( T.TABLE_NAME1 LIKE '%' || #{tableName1,jdbcType=VARCHAR} || '%'
                OR T.TABLE_NAME2 LIKE '%' || #{tableName1,jdbcType=VARCHAR} || '%' )
            </if>
        </where>
    </sql>

    <sql id="select_By_Filter_For_Where2" >
        <where>
            <choose>
                <when test="id != null and id != ''">
                    and ID = #{id,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    and 1 = 2
                </otherwise>
            </choose>
            and rownum = 1
        </where>
    </sql>

    <select id="queryReportList" resultType="com.hisign.code.model.business.ReportInfo" parameterType="com.hisign.code.model.business.ReportInfo" >
        SELECT t.*,@rownum := @rownum + 1 AS rownum FROM (
            SELECT
                @rownum := 0,
                ID                                                AS id,
                REPORT_NAME                                       AS reportName,
                COMPANY_NAME                                      AS companyName,
                COMPANY_CODE                                      AS companyCode,
                WORD_PATH                                         AS wordPath,
                PDF_PATH                                          AS pdfPath,
                FILE_PATH                                         AS filePath,
                FILE_NAME                                         AS fileName,
                TELPHONE                                          AS telphone,
                EMAIL                                             AS email,
                INVOICE_ADRESS                                    AS invoiceAdress,
                REPORT_ADRESS                                     AS reportAdress,
                CREATE_PID                                        AS createPid,
                DATE_FORMAT(t1.CREATE_DATE,'%Y-%m-%d %T ')        AS createDateStr
            FROM BUS_REPORT t1
            WHERE 1=1
            <if test="reportName != '' and reportName != null">
                AND t1.REPORT_NAME LIKE concat('%',#{reportName},'%')
            </if>
            <if test="companyName != '' and companyName != null">
                AND t1.COMPANY_NAME LIKE concat('%',#{companyName},'%')
            </if>
            <if test="companyCode != '' and companyCode != null">
                AND t1.COMPANY_CODE LIKE concat('%',#{companyCode},'%')
            </if>
            <if test="reportAdress != '' and reportAdress != null">
                AND t1.REPORT_ADRESS LIKE concat('%',#{reportAdress},'%')
            </if>
            <if test="createDateBegin != '' and createDateBegin != null">
                AND DATE_FORMAT(#{createDateBegin}, '%Y-%m-%d')  <![CDATA[<=]]> t1.CREATE_DATE
            </if>
            <if test="createDateEnd != '' and createDateEnd != null">
                AND DATE_FORMAT(#{createDateEnd}, '%Y-%m-%d')  >= t1.CREATE_DATE
            </if>
            ORDER BY CREATE_DATE DESC
            ) t
        <if test=" begin !=null and end != 0 and end !=null">
            LIMIT #{begin},#{end}
        </if>
    </select>

    <select id="queryReportListForCount" resultType="java.lang.Integer" parameterType="com.hisign.code.model.business.ReportInfo" >
        SELECT
            COUNT(1)
        FROM BUS_REPORT t1
        WHERE 1=1
        <if test="reportName != '' and reportName != null">
            AND t1.REPORT_NAME LIKE concat('%',#{reportName},'%')
        </if>
        <if test="companyName != '' and companyName != null">
            AND t1.COMPANY_NAME LIKE concat('%',#{companyName},'%')
        </if>
        <if test="companyCode != '' and companyCode != null">
            AND t1.COMPANY_CODE LIKE concat('%',#{companyCode},'%')
        </if>
        <if test="reportAdress != '' and reportAdress != null">
            AND t1.REPORT_ADRESS LIKE concat('%',#{reportAdress},'%')
        </if>
        <if test="createDateBegin != '' and createDateBegin != null">
            AND DATE_FORMAT(#{createDateBegin}, '%Y-%m-%d')  <![CDATA[<=]]> t1.CREATE_DATE
        </if>
        <if test="createDateEnd != '' and createDateEnd != null">
            AND DATE_FORMAT(#{createDateEnd}, '%Y-%m-%d')  >= t1.CREATE_DATE
        </if>
    </select>

    <delete id="deleteReportInfo" parameterType="com.hisign.code.model.business.ReportInfo">
        DELETE FROM BUS_REPORT
        <if test="id != '' and id != null">
            WHERE ID = #{id}
        </if>
    </delete>

    <select id="querySysParam"  parameterType="java.lang.String" resultType="java.lang.String">
        SELECT VALUE FROM SYS_PARAMETER WHERE ENGLISH_NAME = #{str}
    </select>

    <select id="findPdfPath"  parameterType="java.lang.String" resultType="java.lang.String">
        SELECT PDF_PATH FROM BUS_REPORT WHERE ID = #{str} LIMIT 0,1
    </select>

    <select id="findPicInfo"  parameterType="java.lang.String" resultType="com.hisign.code.model.business.ReportInfo">
        SELECT
            ID                                                AS id,
            REPORT_NAME                                       AS reportName,
            COMPANY_NAME                                      AS companyName,
            COMPANY_CODE                                      AS companyCode,
            WORD_PATH                                         AS wordPath,
            PDF_PATH                                          AS pdfPath,
            FILE_PATH                                         AS filePath,
            FILE_NAME                                         AS fileName,
            TELPHONE                                          AS telphone,
            EMAIL                                             AS email,
            INVOICE_ADRESS                                    AS invoiceAdress,
            REPORT_ADRESS                                     AS reportAdress,
            CREATE_PID                                        AS createPid,
            DATE_FORMAT(CREATE_DATE,'%Y-%m-%d %T ')          AS createDateStr
        FROM BUS_REPORT WHERE ID = #{str} LIMIT 0,1
    </select>

    <insert id="insertReportInfo" parameterType="com.hisign.code.model.business.ReportInfo" >
        insert into BUS_REPORT (
            ID,
            REPORT_NAME,
            COMPANY_NAME,
            COMPANY_CODE,
            WORD_PATH,
            PDF_PATH,
            FILE_PATH,
            FILE_NAME,
            TELPHONE,
            EMAIL,
            INVOICE_ADRESS,
            REPORT_ADRESS,
            CREATE_PID,
            CREATE_DATE,
            MODIFY_PID,
            MODIFY_DATE
        ) values (
            REPLACE(UUID(),'-',''),
            #{reportName,jdbcType=VARCHAR},
            #{companyName,jdbcType=VARCHAR},
            #{companyCode,jdbcType=VARCHAR},
            #{wordPath,jdbcType=VARCHAR},
            #{pdfPath,jdbcType=VARCHAR},
            #{filePath,jdbcType=VARCHAR},
            #{fileName,jdbcType=VARCHAR},
            #{telphone,jdbcType=VARCHAR},
            #{email,jdbcType=VARCHAR},
            #{invoiceAdress,jdbcType=VARCHAR},
            #{reportAdress,jdbcType=VARCHAR},
            #{user.userName,jdbcType=VARCHAR},
            NOW(),
            #{user.userName,jdbcType=VARCHAR},
            NOW()
        )
    </insert>

    <update id="updateReportInfo" parameterType="com.hisign.code.model.business.ReportInfo" >
        update BUS_REPORT set
            REPORT_NAME = #{reportName,jdbcType=VARCHAR},
            COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
            COMPANY_CODE = #{companyCode,jdbcType=VARCHAR},
            WORD_PATH = #{wordPath,jdbcType=VARCHAR},
            PDF_PATH = #{pdfPath,jdbcType=VARCHAR},
            FILE_PATH = #{filePath,jdbcType=VARCHAR},
            FILE_NAME = #{fileName,jdbcType=VARCHAR},
            TELPHONE = #{telphone,jdbcType=VARCHAR},
            EMAIL = #{email,jdbcType=VARCHAR},
            INVOICE_ADRESS = #{invoiceAdress,jdbcType=VARCHAR},
            REPORT_ADRESS = #{reportAdress,jdbcType=VARCHAR},
            MODIFY_PID = #{user.userName,jdbcType=VARCHAR},
            MODIFY_DATE = NOW()
        <if test="id != '' and id != null">
            WHERE ID = #{id}
        </if>
    </update>

    <select id="findTableConnectionInfo" resultMap="BaseResultMap" parameterType="com.hisign.code.model.business.TableConnection" >
        select
            <include refid="Base_Column_List" />
        from DB_TABLE_CONNECTION t
        <include refid="select_By_Filter_For_Where2" />
    </select>

</mapper>