<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisign.code.persist.mapper.business.WeChatWebPageMapper" >
    <resultMap id="BaseResultMap" type="com.hisign.code.model.business.TableColumn" >
        <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
        <result column="COLUMN_NAME" property="columnName" jdbcType="VARCHAR" />
        <result column="DATA_TYPE" property="dataType" jdbcType="VARCHAR" />
        <result column="DATA_LENGTH" property="dataLength" jdbcType="INTEGER" />
        <result column="NULLABLE" property="nullable" jdbcType="VARCHAR" />
        <result column="COMMENTS" property="comments" jdbcType="VARCHAR" />
    </resultMap>


    <select id="queryLoginInfo" parameterType="com.hisign.code.model.business.WeChartUserInfo" resultType="com.hisign.code.model.business.WeChartUserInfo">
        SELECT
                @rownum := 0,
                t1.ID                                             AS id,
                t1.USER_NAME                                      AS userName,
                t1.TRUE_NAME                                      AS trueName,
                t1.PASS_WORD                                      AS password,
                t1.QUESTION1                                      AS question1,
                t1.ANSWER1                                        AS answer1,
                t1.QUESTION2                                      AS question2,
                t1.ANSWER2                                        AS answer2,
                t1.COMPANY_NAME                                   AS companyName,
                t1.COMPANY_CODE                                   AS companyCode,
                t1.INVOICE_ADRESS                                 AS invoiceAdress,
                t1.REPORT_ADRESS                                  AS reportAdress,
                t1.E_MAIL                                         AS email,
                t1.TELPHONE                                       AS telphone,
                DATE_FORMAT(t1.CREATE_DATE,'%y-%m-%d %T 24')      AS createDateStr,
                t1.STATUS                                         AS status
        FROM BUS_USER t1
        WHERE STATUS = '1'
        <if test="userName != '' and userName != null">
            AND t1.USER_NAME = #{userName}
        </if>
        <if test="password != '' and password != null">
            AND t1.PASS_WORD = #{password}
        </if>
    </select>

    <select id="findReportInfo" parameterType="java.lang.String" resultType="com.hisign.code.model.business.ReportInfo">
        SELECT
            t2.ID                                                AS id,
            t2.REPORT_NAME                                       AS reportName,
            t2.COMPANY_NAME                                      AS companyName,
            t2.COMPANY_CODE                                      AS companyCode,
            t2.WORD_PATH                                         AS wordPath,
            t2.PDF_PATH                                          AS pdfPath,
            t2.FILE_PATH                                         AS filePath,
            t2.FILE_NAME                                         AS fileName,
            t2.TELPHONE                                          AS telphone,
            t2.EMAIL                                             AS email,
            t2.INVOICE_ADRESS                                    AS invoiceAdress,
            t2.REPORT_ADRESS                                     AS reportAdress,
            t2.CREATE_PID                                        AS createPid,
            DATE_FORMAT(t2.CREATE_DATE,'%Y-%m-%d')               AS createDateStr
        FROM BUS_USER t1,BUS_REPORT t2
        WHERE t1.COMPANY_CODE = t2.COMPANY_CODE
          AND t1.ID = #{id}
    </select>

    <insert id="registerWebPageUser" parameterType="com.hisign.code.model.business.WeChartUserInfo" >
        INSERT INTO BUS_USER (
            ID,
            USER_NAME,
            TRUE_NAME,
            PASS_WORD,
            QUESTION1,
            ANSWER1,
            QUESTION2,
            ANSWER2,
            COMPANY_NAME,
            COMPANY_CODE,
            REPORT_ADRESS,
            E_MAIL,
            INVOICE_ADRESS,
            STATUS,
            TELPHONE,
            CREATE_PID,
            CREATE_DATE
        ) values (
            REPLACE(UUID(),'-',''),
            #{userName,jdbcType=VARCHAR},
            #{trueName,jdbcType=VARCHAR},
            #{password1,jdbcType=VARCHAR},
            #{question1,jdbcType=VARCHAR},
            #{answer1,jdbcType=VARCHAR},
            #{question2,jdbcType=VARCHAR},
            #{answer2,jdbcType=VARCHAR},
            #{companyName,jdbcType=VARCHAR},
            #{companyCode,jdbcType=VARCHAR},
            #{reportAdress,jdbcType=VARCHAR},
            #{email,jdbcType=VARCHAR},
            #{invoiceAdress,jdbcType=VARCHAR},
            '0',
            #{telphone,jdbcType=VARCHAR},
            'system',
            NOW()
        )
    </insert>

    <select id="checkUserName" parameterType="com.hisign.code.model.business.WeChartUserInfo" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM BUS_USER WHERE USER_NAME = #{userName}
    </select>


    <sql id="select_By_Filter_For_Where" >
        <where>
            AND 1 = 1
            <if test="tableName != null and tableName != ''">
                AND (T.TABLE_NAME LIKE '%' || #{tableName,jdbcType=VARCHAR} || '%'
                    or T2.COMMENTS  LIKE '%' || #{tableName,jdbcType=VARCHAR} || '%')
            </if>
            <if test="columnName != null and columnName != ''">
                AND T.COLUMN_NAME LIKE '%' || #{columnName,jdbcType=VARCHAR} || '%'
            </if>
            <if test="comments != null and comments != ''">
                AND T1.COMMENTS LIKE '%' || #{comments,jdbcType=VARCHAR} || '%'
            </if>
            <if test="tableNames != null and tableNames != ''">
                and T.TABLE_NAME in
                <foreach collection="tableNames" item="item" index="index" separator="," open="(" close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </sql>

    <sql id="select_By_Filter_For_Where2" >
        <where>
            AND 1 = 1
            <if test="tableName != null and tableName != ''">
                AND T.TABLE_NAME LIKE '%' || #{tableName,jdbcType=VARCHAR} || '%'
            </if>
            <if test="comments != null and comments != ''">
                AND T.COMMENTS LIKE '%' || #{comments,jdbcType=VARCHAR} || '%'
            </if>
            <if test="tableNames != null and tableNames != ''">
                and T.TABLE_NAME in
                <foreach collection="tableNames" item="item" index="index" separator="," open="(" close=")">
                    #{item,jdbcType=VARCHAR}
                </foreach>
            </if>
        </where>
    </sql>



    <select id="findTableColumnList" resultMap="BaseResultMap" parameterType="com.hisign.code.model.business.TableColumn" >
        select p.* from(
            select
                rownum,rownum as rn,a.* from (
                SELECT
                    T.TABLE_NAME,
                    T.COLUMN_NAME,
                    T.DATA_TYPE,
                    T.DATA_LENGTH,
                    T.NULLABLE,
                    T2.COMMENTS AS tableComments,
                    T1.COMMENTS
                FROM USER_TAB_COLUMNS T, USER_COL_COMMENTS T1, USER_TAB_COMMENTS T2
                <include refid="select_By_Filter_For_Where" />
                AND T.TABLE_NAME = T1.TABLE_NAME(+)
                AND T.COLUMN_NAME = T1.COLUMN_NAME(+)
                AND T.TABLE_NAME = T2.TABLE_NAME(+)
                <if test="orderByString != null and orderByString != ''">
                    order by ${orderByString}
                </if>
                <if test="orderByString == null or orderByString == ''">
                    order by T.TABLE_NAME, T.COLUMN_ID
                </if>
            ) a
            <if test="end != 0 and end !=null">
                where rownum <![CDATA[<=]]> #{end,jdbcType=INTEGER}
            </if>
        ) p
        <if test="begin != 0 and begin !=null">
            where rn >= #{begin, jdbcType=INTEGER}
        </if>
    </select>


    <select id="findColumnList" resultMap="BaseResultMap" parameterType="com.hisign.code.model.business.TableColumn" >
        SELECT
            T.COLUMN_NAME as key,
            T.COLUMN_NAME || nvl2(T1.COMMENTS, '(' || T1.COMMENTS || ')', '') as value
        FROM USER_TAB_COLUMNS T, USER_COL_COMMENTS T1
        where T.TABLE_NAME = T1.TABLE_NAME(+)
        AND T.COLUMN_NAME = T1.COLUMN_NAME(+)
        <if test="tableName != null and tableName != ''">
            AND T.TABLE_NAME =  #{tableName,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="findTableColumnListForCount" resultType="java.lang.Integer" parameterType="com.hisign.code.model.business.TableColumn" >
        SELECT count(1)
        FROM USER_TAB_COLUMNS T, USER_COL_COMMENTS T1, USER_TAB_COMMENTS T2
        <include refid="select_By_Filter_For_Where" />
        AND T.TABLE_NAME = T1.TABLE_NAME(+)
        AND T.COLUMN_NAME = T1.COLUMN_NAME(+)
        AND T.TABLE_NAME = T2.TABLE_NAME(+)
    </select>


    <select id="findTableList" resultMap="BaseResultMap" parameterType="com.hisign.code.model.business.TableColumn" >
        select p.* from(
        select
        rownum,rownum as rn,a.* from (
          select
            TABLE_NAME,
            COMMENTS
        from user_tab_comments T
        <include refid="select_By_Filter_For_Where2" />
        <if test="orderByString != null and orderByString != ''">
            order by ${orderByString}
        </if>
        <if test="orderByString == null or orderByString == ''">
            order by T.TABLE_NAME
        </if>
        ) a
        <if test="end != 0 and end !=null">
            where rownum <![CDATA[<=]]> #{end,jdbcType=INTEGER}
        </if>
        ) p
        <if test="begin != 0 and begin !=null">
            where rn >= #{begin, jdbcType=INTEGER}
        </if>
    </select>

    <select id="findTableListForCount" resultType="java.lang.Integer" parameterType="com.hisign.code.model.business.TableColumn" >
        SELECT
          count(1)
        FROM user_tab_comments T
        <include refid="select_By_Filter_For_Where2" />
    </select>


</mapper>