<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hisign.code.persist.mapper.business.WeChartUserMapper" >
    <resultMap id="BaseResultMap" type="com.hisign.code.model.business.DevelopSql" >
        <result column="NAME" property="name" jdbcType="VARCHAR" />
        <result column="TYPE" property="type" jdbcType="VARCHAR" />
        <result column="SQL" property="sql" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="CREATE_PID" property="createPid" jdbcType="VARCHAR" />
        <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List" >
        NAME, TYPE, SQL, CREATE_PID, DESCRIPTION, CREATE_DATE
        ,
        get_dictValue_by_dictKey('YJLXDM', TYPE) as typeZw,
        from_username_to_truename(CREATE_PID, '1') as createPidName
    </sql>

    <sql id="select_By_Filter_For_Where" >
        <where>
            AND 1 = 1
            <if test="name != null and name != ''">
                AND NAME like '%' || #{name,jdbcType=VARCHAR} || '%'
            </if>
            <if test="type != null and type != ''">
                AND TYPE = #{type,jdbcType=VARCHAR}
            </if>
            <if test="sql != null and sql != ''">
                AND SQL like '%' || #{sql,jdbcType=VARCHAR} || '%'
            </if>
            <if test="createPid != null and createPid != ''">
                AND CREATE_PID = #{createPid,jdbcType=VARCHAR}
            </if>
            <if test="createDateBegin!=null and createDateBegin!=''">
                and CREATE_DATE >= to_date(#{createDateBegin},'yyyy-mm-dd')
            </if>
            <if test="createDateEnd!=null and createDateEnd!=''">
                and CREATE_DATE <![CDATA[<]]> to_date(#{createDateEnd},'yyyy-mm-dd')+1
            </if>
        </where>
    </sql>

    <sql id="select_By_Filter_For_Where2" >
        <where>
            <choose>
                <when test="name != null and name != ''">
                    and NAME = #{name,jdbcType=VARCHAR}
                </when>
                <otherwise>
                    and 1 = 2
                </otherwise>
            </choose>
            and rownum = 1
        </where>
    </sql>

    <select id="findDevelopSqlList" resultType="com.hisign.code.model.business.WeChartUserInfo" parameterType="com.hisign.code.model.business.WeChartUserInfo" >
        SELECT t.*,@rownum := @rownum + 1 AS rownum FROM (
            SELECT
                @rownum := 0,
                t1.ID                                             AS id,
                t1.USER_NAME                                      AS userName,
                t1.TRUE_NAME                                      AS trueName,
                t1.PASS_WORD                                      AS password,
                t1.QUESTION1                                      AS question1,
                t1.ANSWER1                                        AS answer1,
                t1.QUESTION2                                      AS question2,
                t1.ANSWER2                                        AS answer2,
                t2.COMPANY_NAME                                   AS companyName,
                t1.TELPHONE                                       AS telphone,
                t1.COMPANY_ID                                     AS companyId,
                DATE_FORMAT(t1.CREATE_DATE,'%y-%m-%d %T 24')    AS createDateStr,
                t1.STATUS                                         AS status
            FROM BUS_USER t1,BUS_COMPANY t2
            WHERE t1.COMPANY_ID = t2.ID
            <if test="userName != '' and userName != null">
                AND t1.USER_NAME LIKE concat('%',#{userName},'%')
            </if>
            <if test="trueName != '' and trueName != null">
                AND t1.TRUE_NAME LIKE concat('%',#{trueName},'%')
            </if>
            <if test="companyName != '' and companyName != null">
                AND t2.COMPANY_NAME LIKE concat('%',#{companyName},'%')
            </if>
            <if test="status != '' and status != null">
                AND t1.STATUS LIKE concat('%',#{status},'%')
            </if>
        ) t
        <if test=" begin !=null and end != 0 and end !=null">
            LIMIT #{begin},#{end}
        </if>
    </select>

    <select id="findDevelopSqlListForCount" resultType="java.lang.Integer" parameterType="com.hisign.code.model.business.WeChartUserInfo" >
        SELECT COUNT(1) FROM BUS_USER t1,BUS_COMPANY t2
        WHERE t1.COMPANY_ID = t2.ID
        <if test="userName != '' and userName != null">
            AND t1.USER_NAME LIKE concat('%',#{userName},'%')
        </if>
        <if test="trueName != '' and trueName != null">
            AND t1.TRUE_NAME LIKE concat('%',#{trueName},'%')
        </if>
        <if test="companyName != '' and companyName != null">
            AND t2.COMPANY_NAME LIKE concat('%',#{companyName},'%')
        </if>
        <if test="status != '' and status != null">
            AND t1.STATUS LIKE concat('%',#{status},'%')
        </if>
    </select>

    <delete id="deleteDevelopSql" parameterType="com.hisign.code.model.business.WeChartUserInfo">
        DELETE t.* FROM BUS_USER t
        WHERE t.ID = #{id}
    </delete>

    <insert id="insertDevelopSql" parameterType="com.hisign.code.model.business.DevelopSql" >
        INSERT INTO BUS_USER (
            ID,
            USER_NAME,
            TRUE_NAME,
            PASS_WORD,
            QUESTION1,
            ANSWER1,
            QUESTION2,
            ANSWER2,
            COMPANY_ID,
            STATUS,
            TELPHONE,
            CREATE_PID,
            CREATE_DATE
        ) values (
            REPLACE(UUID(),'-',''),
            #{userName,jdbcType=VARCHAR},
            #{trueName,jdbcType=VARCHAR},
            #{password,jdbcType=VARCHAR},
            #{question1,jdbcType=VARCHAR},
            #{answer1,jdbcType=VARCHAR},
            #{question2,jdbcType=VARCHAR},
            #{answer2,jdbcType=VARCHAR},
            #{companyId,jdbcType=VARCHAR},
            #{status,jdbcType=VARCHAR},
            #{telphone,jdbcType=VARCHAR},
            #{user.userName,jdbcType=VARCHAR},
            NOW()
        )
    </insert>

    <update id="updateDevelopSql" parameterType="com.hisign.code.model.business.DevelopSql" >
        update BUS_USER set
        USER_NAME = #{userName,jdbcType=VARCHAR},
        TRUE_NAME = #{trueName,jdbcType=VARCHAR},
        PASS_WORD = #{password,jdbcType=VARCHAR},
        QUESTION1 = #{question1,jdbcType=VARCHAR},
        ANSWER1 = #{answer1,jdbcType=VARCHAR},
        QUESTION2 = #{question2,jdbcType=VARCHAR},
        ANSWER2 = #{answer2,jdbcType=VARCHAR},
        COMPANY_ID = #{companyId,jdbcType=VARCHAR},
        STATUS = #{status,jdbcType=VARCHAR},
        TELPHONE = #{telphone,jdbcType=VARCHAR},
        MODIFY_PID = #{user.userName,jdbcType=VARCHAR},
        MODIFY_DATE = NOW()
        WHERE ID = #{id}
    </update>

    <select id="findDevelopSqlInfo" resultType="com.hisign.code.model.business.WeChartUserInfo" parameterType="com.hisign.code.model.business.WeChartUserInfo" >
        SELECT
            t1.ID                                             AS id,
            t1.USER_NAME                                      AS userName,
            t1.TRUE_NAME                                      AS trueName,
            t1.PASS_WORD                                      AS password,
            t1.QUESTION1                                      AS question1,
            t1.ANSWER1                                        AS answer1,
            t1.QUESTION2                                      AS question2,
            t1.ANSWER2                                        AS answer2,
            t1.TELPHONE                                       AS telphone,
            t2.COMPANY_NAME                                   AS companyName,
            t1.COMPANY_ID                                     AS companyId
        FROM BUS_USER t1,BUS_COMPANY t2
        WHERE t1.COMPANY_ID = t2.ID
      <if test="userName != null and userName != ''">
          AND t1.USER_NAME = #{userName}
      </if>
      <if test="id != null and id != ''">
          AND t1.ID = #{id}
      </if>
    </select>


</mapper>