<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws
		http://cxf.apache.org/schemas/jaxws.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        http://www.springframework.org/schema/context
      	http://www.springframework.org/schema/context/spring-context.xsd
        ">

    <dubbo:reference id="companyManageService" interface="com.hisign.code.api.business.CompanyManageService" timeout="20000" retries="0"/>

    <dubbo:reference id="weChatWebPageService" interface="com.hisign.code.api.business.WeChatWebPageService" timeout="20000" retries="0"/>

    <dubbo:reference id="templateSqlService" interface="com.hisign.code.api.business.TemplateSqlService" timeout="20000" retries="0"/>

    <dubbo:reference id="weChartUserService" interface="com.hisign.code.api.business.WeChartUserService" timeout="20000" retries="0"/>

    <dubbo:reference id="reportManageService" interface="com.hisign.code.api.business.ReportManageService" timeout="20000" retries="0"/>

    <dubbo:reference id="applicationService" interface="com.hisign.code.api.business.ApplicationService" timeout="20000" retries="0"/>

</beans>